UniProtTest copy.rb
SHACL_example.txt
output_test.txt
output_test3.txt
output_test.txt
output_test_probando.ttl
SPO_pattern_class_old.rb
output_test.txt
output_test.txt
QSF/fake_data.ttl
fake_data.ttl
fake_data1.ttl
main copy.rb
perro.ttl
test.ttl
Demo/test.rb
Demo/testing.txt
