%html
  %body

    %strong
      %br
      %br
      Submitted query:
    %pre
      = Rack::Utils.escape_html @origquery
    %br
    %br
    %strong Responses
    - @loc_responses.each do |loc, mess|
      %br
      %strong Successfully queued
      = mess
    
    %br
    %br
    %strong
      %a{href: "/checkall/#{@orcid}"} Check all my open queues
      %br
      %a{href: "/"} Submit another query

  
